<%# Due to switching turns in the controller i have had to reverse who is being attacked :/ %>
<%= @game.current_turn.name %> 
attacked 
<%= @game.being_attacked.name %>
<br>

<form action="/switch-turns" method="post">
  <input type="submit" value="OK">
</form>